* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.info__container {
  width: 80%;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 7rem;
  column-gap: 2rem;
}

.block__container {
  width: 100%;
}

.block__text {
  color: #222;
}

.block__title {
  font-size: 30px;
  font-weight: 500;
  padding-top: 1rem;
}

.block__image {
  grid-column: 1/4;
  width: 100%;
  height: 300px;
  background-image: url('/static/images/img-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {

  .info__container {
    width: 95%;
    grid-template-columns: 1fr;
    row-gap: 2em;
  }

  .block__image {
    margin-top: 3.5rem;
    grid-column: unset;
  }

  .block__title {
    padding-top: 2em;
  }

  .block__title:first-of-type {
    padding-top: 0;
  }

}