.form__container {
    width: 45%;
    margin: 7rem auto;
}

.form__title {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.form__error__text {
    color: red;
}

.btn__active {
    border: 1px solid blue;
}

@media screen and (max-width: 960px) {
    .form__container {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .form__container {
        width: 90%;
    }
}