@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Uitls */

.mg_bt_1 {
    margin-bottom: 1rem;
}

.mg_bt_2 {
    margin-bottom: 2rem;
}

.mg_bt_3 {
    margin-bottom: 3rem;
}

.mg_tp_1 {
    margin-top: 1rem;
}

.mg_tp_2 {
    margin-top: 2rem;
}

.mg_tp_3 {
    margin-top: 3rem;
}

.mg_left_1 {
    margin-left: 1rem;
}

.mg_left_2 {
    margin-left: 2rem;
}

.mg_left_3 {
    margin-left: 3rem;
}

.mg_right_1 {
    margin-right: 1rem;
}

.mg_right_2 {
    margin-right: 2rem;
}

.mg_right_3 {
    margin-right: 3rem;
}

/* General */

.admin__container {
    width: 60%;
    margin: 3em auto;
}

.section__title {
    font-size: 24px;
    font-weight: bold;
    padding: 1em 0;
}

.subsection__title {
    font-size: 20px;
    font-weight: bold;
    padding: 2em 0 1em 0;
}

button.btn {
    padding: 0.5em 0.8em;
    color: white;
}

button.active {
    background-color: black;
    opacity: 90%;
}

button.active:hover {
    background-color: white;
    color: black;
    border-color: black;
}

button.create {
    background-color: green;
    opacity: 90%;
}

button.create:hover {
    background-color: white;
    color: black;
    border-color: green;
}

button.disable {
    background-color: red;
    opacity: 90%;
}

button.disable:hover {
    background-color: white;
    color: black;
    border-color: red;
}

@media screen and (max-width: 1280px) {
    .admin__container {
        width: 65%;
    }
}

@media screen and (max-width: 960px) {
    .admin__container {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .admin__container {
        width: 95%;
    }
}